<div
  class="border rounded-xl border-zinc-700/75 bg-zinc-900/35 p-3 lg:p-6 space-y-3"
>
  <h1 class="text-2xl text-indigo-200">À propos</h1>
  <p class="text-zinc-400">
    Je suis un titulaire d&apos;un Master 2 avec une spécialisation en
    développement web et je travaille depuis 5 ans au sein de la société&nbsp;
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.astradal.com/"
      class="underline"
    >
      Astradal
    </a>
    .
  </p>
  <p class="text-zinc-400">
    Pendant mon temps libre, j&apos;aime implémenter des jeux avec Raylib,
    contribuer à des projets open source et lancer des projets.
  </p>
  <p class="text-zinc-400">
    En dehors de la programmation, j&apos;aime jouer à Street Fighter, à Abalone
    et lire les romans Warcraft.
  </p>
</div>
