---
import Header from "../components/Header.astro";
import ProfileCard from "../components/ProfileCard.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Toma Rosa</title>
  </head>
  <body class="h-full bg-zinc-900 text-zinc-50 text-balance antialiased">
    <div
      class="radial -z-20 opacity-90 absolute size-full blur-md mix-blend-lighten"
    >
    </div>

    <div class="grid grid-row-3 gap-3 mx-auto max-w-4xl p-4 sm:p-6 lg:p-8">
      <Header />
      <ProfileCard />
      <slot />
    </div>
  </body>
</html>
